/*.c1{*/
    /*background: #0e9aef;*/
    /*color: #000;*/
/*}*/

/*.c2{*/
    /*background: #0e9aef;*/
    /*color: #222;*/
/*}*/


/*!*line-height 根据垂直方向居中、相对标签*!*/
/*!*text-align 水平居中*!*/
/*!*font-width 加粗*!*/
/*!*width  宽度*!*/
/*!*hight 高度*!*/
/*!*font-size 字体大小*!*/

/*<div width=20%> 1 </div>*/
/*<div width=80%> 2 </div>*/




/*style="margin:0 auto;"  顶格处理*/


/*padding、margin(0,auto):边距*/
    /*margin-top:npx; 距离上面有多少、整个内容往下移动*/
    /*padding-top:0px  上面增加下面会减少、整个移动到上面*/




.pg-head{
    height:50px;
    background:#1f6377;
    text-align: center;
    line-height: 50px;
}

.menu-size{
    font-size: 18px;
    font-family: 新宋体;

}

.left-body{
    width: 30%;
    float: left;
    text-align: left;
    height: 90px;
    margin-right: 5px;
    border: 3px;
}

