/*.c1{*/
    /*background: #0e9aef;*/
    /*color: #000;*/
/*}*/

/*.c2{*/
    /*background: #0e9aef;*/
    /*color: #222;*/
/*}*/


/*!*line-height 根据垂直方向居中、相对标签*!*/
/*!*text-align 水平居中*!*/
/*!*font-width 加粗*!*/
/*!*width  宽度*!*/
/*!*hight 高度*!*/
/*!*font-size 字体大小*!*/

/*<div width=20%> 1 </div>*/
/*<div width=80%> 2 </div>*/




/*style="margin:0 auto;"  顶格处理*/


/*padding、margin(0,auto):边距*/
    /*margin-top:npx; 距离上面有多少、整个内容往下移动*/
    /*padding-top:0px  上面增加下面会减少、整个移动到上面*/


.cent_1000{
    width: 1000px;height: 33px;
}

.pg-head{
    background:#1f6377;
    text-align: center;
    height:33px;
}
.pg-menu{
    background:#8fb3bd;
    text-align: left;
    height:33px;
}
.menu-size{
    font-size: 18px;
    font-family: 新宋体;

}

.left-body{
    border: 1px solid darkgray;
    width: 20%;
    float: left;
    text-align: left;
    height: 190px;
    margin-right: 10px;

}
.left-body-text{
    background-color:#dddddd;
    height: 25px;
    text-align: left;
    line-height: 25px
}
.float{
    float: left;
}
