.hostzone{
    /*border: 1px #bcc3c3 solid;*/
    box-shadow: 1px 1px 5px 5px #888888;
    display: inline-block;
    height: 530px;
    width: 480px;
}

.hosttitle{
    height: 30px;
    width:100%;
    float: left;
    /*border: 1px solid #2ba938;*/
    background-color: #d1dade;
}
.rtitle{
    width:40%;
    float: left;
    text-align: left;
    line-height: 30px;;
}
.rbutton{
    width:40%;
    float: right;;
}
.hostbody{
    float: left;
    margin-top: 3px;;
    height: 400px;
    width:100%;
    /*border: 1px solid darkgrey;*/
}
.textblock{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.textlable{
    margin-left: 30px;
    width: 130px;
    height: 32px;
    line-height: 40px;
    /*background-color: #1dc5a3;*/
    display: inline-block;
    text-align: right;
    font-size: 14px;;
}

.textcontent{
    width: 230px;
    height:32px;
    line-height: 40px;
}

.hostfoot{
    float: left;
    height: 40px;
    width:100%;
    /*border:1px solid darkgoldenrod;;*/
}
.footcontent{
    text-align: center;
}
